* {
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

:root {
  box-sizing: 62.5%;
  --cc-color-icon: #003f69;
  --fc-heading: #323238;
  --fs-heading: 12.6rem;
  --ff-heading: 'Roboto', sans-serif;
  --colorbg-image-start: #003f69;
  --color-image-inside-start: #FFFFFF;
  --colorbg-image-default: #E1E1E6;
  --color-image-inside-default: #323238;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
max-width: 82.1rem; 
max-height: 33.6rem;
display: grid;
grid-template-areas: 
'A A B';
}

.content-timer {
  grid-area: A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 19.2rem;
}

.wrapper-timer{
  display: flex;
  font-size: var(--fs-heading);
  color: var(--fc-heading);
  font-family: var(--ff-heading);
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.wrapper-icons {
  display: flex;
  gap: 4rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent; /* Safari deixa o bg com cor cinza */
}

input {
  max-width: 100%;
  position: relative;
  bottom: 2.5rem;
}

input[type='range']::-webkit-slider-runnable-track{
  height: .2rem;
  background: rgb(5, 5, 5);
  border-radius: .5rem;
}
input[type='range']::-webkit-slider-thumb {
  max-width: 2.0rem;
  height: 2.0rem;
  margin-top: -4.5px;
  border-radius: 6.0rem;
}

.wrapper-icons button svg path:hover {
  fill: var(--cc-color-icon);
}

section {
  grid-area: B;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  'img1 img1'
  'img2 img2';
  gap: 3.2rem;
}

section .wrapper-ambients-sound-1 {
  grid-area: img1;
  display: flex;
  gap: 3.2rem;
}

section .wrapper-ambients-sound-2 {
  grid-area: img2;
  display: flex;
  gap: 3.2rem;
}

section button svg path:hover {
  fill: var(--cc-color-icon);
}

.hide svg path{
  fill: var(--cc-color-icon);
}

.hide svg path + path {
  fill: white;
}

/* Dark Model */

.LightAndDarkMode {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.btn-hide {
  display: none;
}

.main-bg-dark {
  background: #121214;
}

.cTxtColor {
  color: var(--cc-color-icon)
}

.iconsTimerColor button svg path {
  fill: var(--cc-color-icon);
}

.cardsColorDark svg path {
  fill: #51647a
}

.cardsColorDark svg path + path {
  fill: black;
}

.hideDark svg path{
  fill: var(--cc-color-icon)
}

.hideDark svg path + path {
  fill: white
}

@media (max-width: 1100px) {
  main {
    padding: 1rem;
  }
  .content-timer {
    margin-right: 10rem;
  }
}

@media (max-width: 1024px) {
  main {
    padding: 1rem;
  }
  .content-timer {
    margin-right: 8rem;
  }
}

@media (max-width: 1024px) {
  main {
    padding: 1rem;
  }
  .content-timer {
    margin-right: 8rem;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 62.1rem; 
    max-height: 33.6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

  }

  input {
    max-width: 60%;
    position: relative;
    bottom: 1.2rem;
    right: 8.5rem;
  }

  section {
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-areas: 
    'img1 img1'
    'img2 img2';
    gap: 3.2rem;
  }
}

@media (max-width: 425px) {
  main {
    padding: .1rem;
    display: flex;
    flex-direction: column;
  }

  .wrapper-timer{
    display: flex;
    font-size: 6.5rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
  }

  .wrapper-icons {
    display: flex;
    margin-top: .1rem;
    margin-left: 9rem;
    gap: 2rem;
  }

  input {
    display: flex;
    max-width: 50%;
    position: relative;
    bottom: 2rem;
    left: 2rem;

  }

  section {
    flex-direction: column;
    grid-template-areas: 
    'img1 img1'
    'img2 img2';
  }

  .LightAndDarkMode {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

}

@media (max-width: 320px) {
  main {
    padding: .1rem;
    display: flex;
    flex-direction: column;
  }

  section {
    margin-top: 3rem;
    flex-direction: column;
    grid-template-areas: 
    'img1 img1'
    'img2 img2';
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .LightAndDarkMode {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

}


